{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            <form  method="post"> 
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 login-form-header">
                                <p class="login-form-font-header">Password Reset Confirm</span><p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 login-from-row">
                                <p>Please enter your new password.</p>
                                {{ form|crispy }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 login-from-row">
                                <p><button class="btn btn-info" type="submit" id="submit">Reset Password</button></p>
                            </div>
                        </div>
                    </div>
                </div>			
            </form>
        </div>
    </div>
</div>

{% endblock %}