{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            <form  method="post"> 
              <div class="row">
                  <div class="col-md-12 login-from-row">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-md-12 login-form-header">
                            <p class="login-form-font-header">Forgot your password?</span><p>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 login-from-row">
                          <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                          {{ password_reset_form|crispy }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 login-from-row">
                          <p><a class="btn btn-danger" href="{% url 'login' %}">Cancel</a>   <button class="btn btn-info" type="submit" id="submit">Send Email</button></p>
                        </div>
                      </div>
                  </div>
              </div>			
          </form>
      </div>
  </div>
</div>
{% endblock %}