{% extends 'main/layout.html' %}
{% block content %}
<div class="container">
    <div class="row text-center login-page">
      <div class="col-md-12 login-form">
        <div class="col-md-12 login-from-row">
          <div class="row">
            <div class="col-md-12 login-form-header">
              <p class="login-form-font-header">Password reset sent</span><p>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12 login-from-row">
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <p><a class="btn btn-info" href="{% url 'login' %}">Go Back</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}